cython
annoy==1.16.3
Flask
gunicorn[gevent]
ImageHash
piexif
Pillow
PyYAML
Werkzeug
beautifulsoup4
tldextract
opencv-python
opencv-contrib-python
joblib
requests-cache
redis
youtube_dl
bsddb3
cachetools
MarkupSafe
python-dateutil
