<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Sourcecatcher{% if page_title %} | {{ page_title|e }}{% endif %}
  </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sourcecatcher.css') }}?{{ sha256(url_for('static', filename='sourcecatcher.css')) }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tweet.css') }}?{{ sha256(url_for('static', filename='tweet.css')) }}">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ url_for('static', filename='favicons/apple-touch-icon-57x57.png') }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='favicons/apple-touch-icon-114x114.png') }}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='favicons/apple-touch-icon-72x72.png') }}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='favicons/apple-touch-icon-144x144.png') }}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ url_for('static', filename='favicons/apple-touch-icon-60x60.png') }}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ url_for('static', filename='favicons/apple-touch-icon-120x120.png') }}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ url_for('static', filename='favicons/apple-touch-icon-76x76.png') }}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ url_for('static', filename='favicons/apple-touch-icon-152x152.png') }}" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-196x196.png') }}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-128.png') }}" sizes="128x128" />
</head>
