[Unit]
Description=Sourcecatcher web server
After=network.target redis

[Service]
WorkingDirectory=/sourcecatcher/src/
ExecStart=/usr/local/bin/gunicorn -c gunicorn.config.py -w 9 -b 0.0.0.0:80 -m 007 wsgi:app
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
