:root {
  --bg-color: #fff;
  --fg-color: #000;
  --footer-bg-color: #e0e0e0;
  --dc-yellow: #F2C763;
  --error-color: #C0000C;
  --error-bg-color: #FFD2D2;
  --error-code: #A0000C;
  --warning-color: #8F6000;
  --warning-bg-color: #FEEFB3;
  --link-color: #0000ee;
  --link-visited-color: #551a8b;
  --link_input-bg-color: #fcfcfc;
  --search-border-color: lightgray;
  --btn-border-color: lightgray;
  --fg2-color: #697882;
  --box-shadow-color: rgba(0,0,0,0.2);
  --tweet-hover-bg-color: #f8f8f8;
  --theme-switch-bg-color: #474842;
  --nav-hover-color: var(--dc-yellow);
  --moon-color: #F5F3CE;
  --sun-color: #FDB813;
  --tweet-bg-color: var(--bg-color);
}

[data-theme="dark"] {
  --bg-color: #272822;
  --fg-color: #e1e1da;
  --footer-bg-color: #111111;
  --link-color: #66d9ef;
  --link-visited-color: #ae81ff;
  --link_input-bg-color: #474842;
  --search-border-color: #222222;
  --btn-border-color: darkgray;
  --fg2-color: #92a0aa;
  --box-shadow-color: rgba(0,0,0,0.4);
  --tweet-hover-bg-color: #373832;
  --tweet-bg-color: #2f302a;
}

header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
}
.brand {
  width: auto;
  height: 100%;
  float: left;
  margin: 0 10px;
}
.brand a{
  font-size: 50px;
  font-weight: bold;
  color: var(--dc-yellow);
  text-decoration: none;
}
.brand a:visited {
  color: var(--dc-yellow);
}
.brand a:hover {
  text-decoration: none;
}
.brand a::after {
  content: "Sourcecatcher";
}
.menu {
  height: 100%;
  float: right;
}
.menu ul {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.menu ul li a {
  padding: 0 15px;
  height: inherit;
  color: #fff;
  display: inline-block;
  outline: none;
}
.menu ul li a:focus,
.menu ul li a:hover {
  background-color: var(--nav-hover-color);
  text-decoration: none;
  color: var(--bg-color);
}
.menu ul li a:focus svg,
.menu ul li a:hover svg {
  fill: var(--bg-color);
}
.menu ul li a svg {
  fill: #e1e1da;
}
#menuToggle {
  display: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  border: 0;
  opacity: 0;
}
.menu-icon {
  display: none;
}
.menu-icon:hover {
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .menu * {
    display: relative;
    z-index: 5;
  }
  .menu {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .menu ul li a svg {
    fill: var(--fg-color);
  }
  .menu ul li,
  .menu ul li a {
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: var(--footer-bg-color);
    color: var(--fg-color);
  }
  .menu ul li a:focus li,
  .menu ul li a:hover li {
    background-color: var(--nav-hover-color);
    color: var(--bg-color);
  }
  .menu ul li a:focus svg,
  .menu ul li a:hover svg {
    fill: var(--bg-color);
  }
  .menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
  .menu-icon * {
    display: block;
  }
  #menuToggle {
    display: block;
  }
  #menuToggle:not(:checked) ~ ul {
    display: none;
  }
  #menuToggle:checked ~ ul {
    display: block;
    max-height: 350px;
  }
  #menuToggle:focus + label {
    outline: 1px dotted lightgray;
    outline: 1px auto -webkit-focus-ring-color;
  }
}

.hamburger {
  margin: 10px;
  fill: #e1e1da;
  width: 30px;
  height: 30px;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 8px 10px;
  transform: scale(0.75);
}

input#theme-switch-toggle {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  border: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: var(--theme-switch-bg-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-icon {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: var(--sun-color);
}

#theme-switch-toggle:focus + label {
  outline: 1px dotted lightgray;
  outline: 1px auto -webkit-focus-ring-color;
}

#theme-switch-toggle:checked + label .slider .slider-icon {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  box-shadow: inset -7px -3px var(--moon-color);
  background-color: var(--theme-switch-bg-color);
}

.slider-icon {
  border-radius: 50%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#dnd-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 2;
}

#dnd-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  max-width: 95%;
  max-height: 95%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  border-radius: 5px;
  padding: 30px 10px;
  text-align: center;
  font-size: 1.5em;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 150px;
  background-color: #101820;
  background-image: url("moon.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

#content {
  flex: 1 0 auto;
}

#footer_wrapper {
  overflow: hidden;
  flex-shrink: 0;
}

#footer {
  background-color: var(--footer-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -5px;
}

.footer_text {
  margin: 5px 15px;
}

h2 {
  text-align: center;
  margin: 0 auto 20px auto;
}

h3 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
  margin: auto;
  width: 95%;
  margin: 0 auto;
}

.description {
  font-size: 1.25em;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.inputs {
  max-width: 600px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
}

.search_wrap {
  margin: 10px auto;
  width: 500px;
  max-width: 100%;
}

form {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#file_upload_form {
  flex-wrap: wrap;
  margin: 10px auto;
}

.video_download,
[type="file"] + label {
  border: 1px solid var(--btn-border-color);
  border-radius: 5px;
  cursor: pointer;
  display: none;
  font-size: inherit;
  margin-bottom: 1rem;
  outline: none;
  padding: 10px 20px;
  position: relative;
  vertical-align: middle;
}

.video_download:focus,
.video_download:hover,
[type="file"]:focus + label,
[type="file"] + label:hover {
  background-color: var(--dc-yellow);
  color: var(--bg-color);
  text-decoration: none;
}

#link_input {
  width: 100%;
  padding: 10px;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid var(--search-border-color);
  border-top: 1px solid var(--search-border-color);
  border-bottom: 1px solid var(--search-border-color);
  border-right: none;
  color: var(--fg-color);
  background-color: var(--link_input-bg-color);
}

#link_submit_btn {
  border-top: 1px solid var(--search-border-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid var(--search-border-color);
  border-bottom: 1px solid var(--search-border-color);
  float: left;
  color: white;
  border-left: none;
  cursor: pointer;
  background-color: var(--link_input-bg-color);
}

#link_submit_btn.highlight_search,
#link_submit_btn:focus,
#link_submit_btn:hover {
  background-color: var(--dc-yellow);
  outline: none;
}

.highlight_search svg *,
#link_submit_btn:focus svg *,
#link_submit_btn:hover svg * {
  stroke: var(--bg-color);
}

#search_icon {
  width: 1.5em;
}

input[type=text] {
  box-sizing: border-box;
}

#or {
  text-align: center;
  margin: 0;
}

.results_header {
  margin-top: 2em;
}

.results {
  margin: 0 auto 2em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.result {
  border-style: solid;
  border-width: 1px;
}

.result_link {
  display: block;
}

*[id^='twitter-widget-'] {
  margin: 5px;
  text-align: left;
}

.dc_app_header {
  margin: auto;
  width: 500px;
  max-width: 100%;
}

.dc_app_user {
  display: flex;
}

.dc_app_profile_pic {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  object-fit: cover;
  box-shadow: 0px 0px 5px var(--box-shadow-color);
}

.dc_app_username {
  font-weight: bold;
  font-size: 1.25em;
  margin: auto 0 auto 0.5em;
}

.video_download {
  text-align: center;
  margin: 10px auto;
  display: block;
  width: max-content;
}

.video_download {
  color: var(--fg-color);
}

.video_download:visited {
  color: var(--fg-color);
}

.video_download:hover {
  color: var(--bg-color);
}


#video {
  display: block;
  width: 500px;
  max-width: 100%;
  max-height: 95vh;
  margin: auto;
  box-shadow: 0px 0px 5px var(--box-shadow-color);
}

img.app_img {
  width: 500px;
  max-width: 100%;
  min-height: 20px;
  margin: 5px;
  box-shadow: 0px 0px 5px var(--box-shadow-color);
}

p.message {
  font-size: 0.75em;
}

.error {
  text-align: center;
  color: var(--error-color);
  background-color: var(--error-bg-color);
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  max-width: 600px;
}

.error_reasons {
  text-align: left;
  width: -webkit-fill-available;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em auto;
}

.warning {
  text-align: center;
  color: var(--warning-color);
  background-color: var(--warning-bg-color);
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  max-width: 600px;
}

.error_code {
  color: var(--error-code);
  font-size: 1.5em;
}

ul.users_list {
  -webkit-column-width: 10em;
  -moz-column-width: 10em;
  column-width: 10em;
  column-count: 8;
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
}

.deleted_user:after {
    content: "\274C";
}

@media screen and (max-width: 400px) {
  .brand a::after {
    content: "SC";
  }
}
@media screen and (max-width: 800px) {
  .main {
    width: 95%;
    padding: 0;
  }

  input {
    font-size: 1em;
  }

  button {
    font-size: 1em;
  }

  input[type=text] {
    max-width: 100%;
  }

  input[type=file] {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

}
