{% extends "sourcecatcher.html" %}

{% block results %}
<div class="dc_app_header">
  <div class="dc_app_user">
    <img class="dc_app_profile_pic" src={{ profile_pic|e }}>
    <div class="dc_app_username">
      {{ app_poster|e }}
    </div>
  </div>
  <p>{{ app_text|e }}</p>
</div>
<div class="results">
  {% if app_video %}
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest/dist/hls.min.js"></script>
  <video id="video" src="{{ app_video|e }}" poster="{{ app_video_poster|e }}" type="application/x-mpegURL" controls></video>
  <script>
    if (Hls.isSupported()) {
      var video = document.getElementById('video');
      var hls = new Hls();
      hls.attachMedia(video);
      hls.on(Hls.Events.MEDIA_ATTACHED, function () {
        hls.loadSource("{{ app_video|e }}");
      });
    }
    else if (video.canPlayType('application/vnd.apple.mpegurl')) {
      video.src = '{{ app_video|e }}';
      video.addEventListener('loadedmetadata',function() {
        video.play();
      });
    }
  </script>
  {% endif %}
  {% if app_images %}
    {% for f in app_images %}
    <img class="app_img" src="{{ f|e }}">
    {% endfor %}
  {% endif %}
</div>
{% endblock results %}
