<script>
  // File drag and drop support
  let enterTarget = null;
  let dropPopup = document.getElementById('dnd-modal');
  let form = document.getElementById('file_upload_form');
  let input = document.getElementById('file_input');

  function containsFiles(event) {
    if (event.dataTransfer.types) {
      for (var i = 0; i < event.dataTransfer.types.length; i++) {
        if (event.dataTransfer.types[i] == "Files") {
          return true;
        }
      }
    }
    return false;
  };
  document.ondragenter = function(event) {
    if (containsFiles(event)) {
      event.stopPropagation();
      event.preventDefault();
      enterTarget = event.target;
      dropPopup.style.display = 'block';
    }
  };
  document.ondragleave = function(event) {
    if (containsFiles(event)) {
      event.stopPropagation();
      event.preventDefault();
      //Only if the two target are equal it means the drag has left the window
      if (enterTarget == event.target){
        dropPopup.style.display = 'none';
      }
    }
  };
  document.ondragover = function(event) {
    if (containsFiles(event)) {
      event.preventDefault();
    }
  };
  document.ondrop = function(event) {
    if (containsFiles(event)) {
      event.stopPropagation();
      event.preventDefault();
      dropPopup.style.display = 'none';
      if (event.dataTransfer.files && event.dataTransfer.files.length) {
        input.files = event.dataTransfer.files;
        form.submit();
      }
    }
  };

  // hack to select all text on first click
  var link_input = document.getElementById("link_input")
  var focusedElement;
  link_input.onfocus = function() {
    if (focusedElement == this) return;
    focusedElement = this;
    setTimeout(function() { focusedElement.select(); }, 0);
  };
  link_input.onblur = function() {
    focusedElement = null;
  };

  // change search button color automatically
  var search_button = document.getElementById("link_submit_btn")
  function text_input_change() {
    if (link_input.value.length == 0) {
      search_button.classList.remove('highlight_search');
    } else {
      search_button.classList.add('highlight_search');
    }
  }
  ['input','keyup', 'keydown', 'paste', 'change'].forEach(e =>
    link_input.addEventListener(e, text_input_change, false)
  );
  text_input_change();

  // theme toggle
  window.addEventListener(
    'load',
    function load()
    {
      window.removeEventListener('load', load, false);
      document.body.classList.remove('preload');
    },
    false);
  const hamburger = document.querySelector('#menuToggle');

  function toggleMenu(e) {
    if (e.keyCode === 13) {
      if (e.target.checked === false) {
        e.target.checked = true;
      } else {
        e.target.checked = false;
      }
    }
  }

  function currentTheme() {
      let theme = localStorage.getItem("theme");
      if (theme === null) {
        theme = "auto";
      }
    return theme;
  }

  function switchTheme(theme) {
    if (theme === null) {
      theme = currentTheme();
    }

    localStorage.setItem('theme', theme);
    for (let elem of document.querySelectorAll('input[type="radio"][name="state-theme"]')) {
      if (elem.value === theme) {
        elem.checked = true;
      }
    }
    document.querySelector(".slider-icon").setAttribute("data-theme", theme);

    if (theme === "auto") {
      theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? "dark" : "light";
    }
    document.documentElement.setAttribute('data-theme', theme);
  }

  switchTheme(null);

  function nextTheme() {
    let theme = currentTheme();
    if (theme === "auto") {
      theme = "light";
    } else if (theme === "light") {
      theme = "dark";
    } else if (theme === "dark") {
      theme = "auto";
    }
    switchTheme(theme);
  }

  window.matchMedia("(prefers-color-scheme: dark)")
    .addEventListener('change',({ matches }) => {
      switchTheme(null);
    });
  for (const elem of document.querySelectorAll('input[type="radio"][name="state-theme"]')) {
    elem.addEventListener("change", (event) => {  
      switchTheme(event.target.value);
    });
  }
</script>
