<!doctype html>
<html lang="en">
  {% include 'head.html' %}
  <body class="preload">
    <div id="dnd-modal">
      <div id="dnd-modal-content">
        Drag image here to search
      </div>
    </div>
    <div id="content">
      <div class="banner">
        {% include 'navbar.html' %}
      </div>
      <div class="main">
        <div class="description">
          <p>Dreamcatcher photo source finder</p>
        </div>
        <div class="news">
          <p>{{ news }}</p>
        </div>

        {% block forms %}
        {% include 'input_forms.html' %}
        {% endblock forms %}

        {% block error_msg %}
        {% endblock error_msg %}

        {% block results %}
        {% endblock results %}

      </div>
    </div>
    <div id="footer_wrapper">
      <div id="footer">
        <p class="footer_text">
        Indexing {{ num_photos }} photos
        </p>
        <p class="footer_text">
        Updated {{ mtime }} ago
        </p>
        <p class="footer_text">
        By <a target="_blank" rel="noopener noreferrer" title="By u/ipwnmice" href="https://www.reddit.com/u/ipwnmice">/u/ipwnmice</a>
        </p>
      </div>
    </div>
    {% include 'scripts.html' %}
  </body>
</html>
