{% extends "sourcecatcher.html" %}

{% block results %}
<div class="results_header">
  <h2>All indexed Twitter users</h2>
  <h3>Currently indexing {{ user_count|e }} users</h3>
</div>
<div class="results">
  <ul class="users_list">
    {% for user in users %}
    {% if user[1] %}
    <li>
    {% else %}
    <li class="deleted_user">
    {% endif %}
        <a href="https://www.twitter.com/{{ user[0]|e }}" target="_blank" rel="noopener noreferrer">{{ user[0]|e }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock results %}
